:root {
  --background-color: #F8CC5D;
  --text-color-navigation: #434A54;
  --text-color-main: #1F343E;
  --accent-color: #4EB3E3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
