.allStarsBlock {
  width: 121px;
  display: flex;
  justify-content: space-between;
}

.starButton {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}